/* colors: orange - #FFB84D, white - #ffffff, navy - #000d1a, grey - #d1d1e0 */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@font-face {
font-family: "Junction Regular";
src: url("fonts/Junction-regular.otf");
}
@font-face {
font-family: "Junction Light";
src: url("fonts/Junction-light.otf");
}
@font-face {
font-family: "Junction Bold";
src: url("fonts/Junction-bold.otf");
}

h1 { 
	font-size: 100px; 
	font-family:"Kaushan Script", Geneva, sans-serif;
	color: #ffffff;
	line-height: 1.5;
}

h2 { 
	font-size: 30px; 
	font-family:"Junction Regular", Geneva, sans-serif;
	color: #ffffff;
	line-height: 1.5;
}

a.navbar-brand { font-family: "Kaushan Script", Geneva, sans-serif; }

a.nav-link { font-family: "Junction Bold", Geneva, sans-serif; }

#about-color a:hover { color: #ffffff; }
#projects-color a:hover { color: #000d1a; }
#skills-color a:hover { color: #FFB84D; }
#activities-color a:hover { color: #FFB84D; }

.about > h1 { font-family: "Junction Bold", Geneva, sans-serif; color:#000d1a;}
.about > p { font-family: "Junction Regular", Geneva, sans-serif; color:#b3b3b3; }

.projects > h1 { font-family: "Junction Bold", Geneva, sans-serif; color:#ffffff;}
.projects > h2 { font-family: "Kaushan Script", Geneva, sans-serif; color:#ffffff;}
.projects > p { font-family: "Junction Regular", Geneva, sans-serif; color:#ffffff; }

.skills > h1 { font-family: "Junction Bold", Geneva, sans-serif; color:#ffffff;}
.skills > p { font-family: "Junction Regular", Geneva, sans-serif; color:#ffffff; }

.activities > h1 { font-family: "Junction Bold", Geneva, sans-serif; color:#ffffff;}
.activities > p { font-family: "Junction Regular", Geneva, sans-serif; color:#ffffff; }

#header-image {
	background-image: url(../images/background.jpg); 
	background-size: cover;
	background-position: center; 
	overflow: hidden;
	padding: 250px 0px;
}

body {
	background-color: #1b1b1b;
}